.select-img {
    width: 50%;
    float: left;
  img {
    width: 100%;
  }
}
.selectImg {
  
}
.selectArea {
  line-height: 1em;
  font-size: 8px;
  border: 1px solid #ddd;
  .select-title {
    background: #ccc;
    border: 1px solid #555;
    font-family: sans-serif;
  }
  .select {
    background: #333;
    color: #fff;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px ;
  }
}
