$base-color: #555;
$back-color: #dfdfdf;
$round: 8px;
$size-button: 1.1em;


*{
  margin:0;
  padding:0;
}
header {
  background: $back-color;
  width: 100%;
 h1 {
  font-size: 1.0em;
  text-align: center;
  padding: 10px;
 } 
}
.container {
  width: 90%;
  margin: 0 auto;
}
.indexTitle {
}
a{
  display: block;
  &:hover {
    text-decoration: none;
    display: block;
  }
  &:active {
    background: $back-color;
  }
}
.indexButton {
  border: 1px solid $base-color;
  border-radius: $round;
  margin: 20px;
  text-align : center;
  padding: 40px ;
  a {
    color: $base-color;
    &:hover {
      text-decoration: none;
    }
    &:active {
      background: #ccc;
    }
  }
  
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

//read
ul {
  li {
  list-style-type: none; 
  margin: 0;
  }
}
.list {
  margin: 0;
  ul {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    li {
      float: left;
      display: inline-block;
      width: 50%;
      box-sizing: border-box;
      padding-bottom: 5px;
      padding: 10px;
      .img {
        border: solid 1px $base-color;
        border-radius: $round;
      }
      img {
        width: 100%;
      }
      p {
        line-height: 1em;
        width: 95%;
        margin: 10px auto 0 auto;
      }
    }
  }
}
button, a {
  color: $base-color;
  font-size: $size-button;
}
.createTop {
  background: $back-color;
  border: none;
  width: 100%;
  padding: 15px;
  a {
    color: $base-color;
  }

}
//create1
.step {
  background: $back-color;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  p {
    font-size: $size-button;
  }
}
.textList {
  &-title {
   padding: 10px;
   border-bottom: 1px solid $base-color;
   font-weight: bold;
  }
  &-text {
  border-bottom: 1px solid $base-color;
  padding: 20px 15px;
  }
}
