$base-color: #555;
$back-color: #dfdfdf;
$round: 8px;
$size-button: 1.1em;
$size-button-small: 0.7em;
$action-color: #ff39aa;
$btn-border-color: #ccc;
$button-red: #ff4650;
$button-green: #00cbc1;


*{
  margin:0;
  padding:0;
}
header {
  background: $back-color;
  width: 100%;
 h1 {
  font-size: 1.0em;
  text-align: center;
  padding: 10px;
 } 
}
.container {
  width: 90%;
  margin: 0 auto;
}
.indexTitle {
  margin: 30px;
  text-align: center;
}
a {
  display: block;
  &:hover {
    text-decoration: none;
    display: block;
  }
  &:active {
    background: $back-color;
  }
}
.indexButton {
  border: 1px solid $base-color;
  border-radius: $round;
  margin: 20px;
  text-align : center;
  a {
    color: $base-color;
    padding: 40px ;
    &:hover {
      text-decoration: none;
    }
    &:active {
      background: #ccc;
    }
  }
  
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

//read
ul {
  li {
  list-style-type: none; 
  margin: 0;
  }
}
.list {
  margin: 0;
  ul {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    a{
      li {
        float: left;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding-bottom: 5px;
        padding: 10px;
        .img {
          border: solid 1px $base-color;
          width: 100%;
          height: 100%;
          position: relative;
          border-radius: $round;
        }
        img {
          border-radius: $round;
          width: 100%;
          height: 100%;
        }
        p {
          line-height: 1em;
          width: 95%;
          margin: 10px auto 0 auto;
        }
        .button {
          position: relative;
          top: -35px;
          z-index: 99;
          .editButton {
            border: 1px solid $btn-border-color;
            background: $back-color;
            font-size: $size-button-small;
            width: 90%;
            padding: 5px;
            border-radius: 4px;
            margin: 0 auto 0 auto;
            display: block;
          }
        }
      }
    }
  }
}
button, a {
  color: $base-color;
  font-size: $size-button;
}
.createTop {
  width: 100%;
  a {
    background: $back-color;
    border: none;
    width: 100%;
    padding: 15px;
    color: $base-color;
  }

}
//create1
.step {
  background: $back-color;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  p {
    font-size: $size-button;
  }
}
.textList {
  &-title {
    padding: 10px;
    border-bottom: 1px solid $base-color;
    font-weight: bold;
  }
  &-text {
    a {
      border-bottom: 1px solid $base-color;
      padding: 20px 15px;
    }
  }
  .text-action {
    color: $action-color;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid $base-color;
  }
}
.subTitle {
  padding: 15px 20px;
  h3 {
    font-size: $size-button;
  }
}
.inputTitle {
  input {
    width: 90%;
    margin: 0 auto;
    border: 1px solid $base-color;
    padding: 20px;
    display: block;
    box-shadow: none;
  }
}
.createButtons {
  color: #fff;
  width: 80%;
  margin: 0 auto 30px auto;
  button {
    float: left;
    padding: 16px;
    width: 47%;
    box-sizing: border-box;
    border-radius: $round;
    border: none;
    font-weight: bold;
  }
  .button-green {
    background: $button-green;
    color: #fff;
  }
  .button-red {
    background: $button-red;
    margin-left: 10px;
    color: #fff;
  }
}

.modal-inner {
  ul{
    li {
      a {
        color: $base-color;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 30px; 
      }
    }
  }
}
.modal-icon {
  position: fixed;
  z-index: 500;
  bottom: 10px;
  right: 10px;
  a {
    display: inline-block;
    padding: 10px;
    background: $back-color;
    box-shadow: 1px 1px 1px #aaa;
    border-radius: 2px;
  }
}
