$base-color: #555;


*{
  margin:0;
  padding:0;
}
header {
  background: #dfdfdf;
  width: 100%;
 h1 {
  font-size: 1.0em;
  text-align: center;
  padding: 10px;
 } 
}
.container {
  width: 90%;
  margin: 0 auto;
}
.indexTitle {
}
a{
  &:hover {
    text-decoration: none;
    display: block;
  }
}
.indexButton {
  border: 1px solid #222;
  border-radius: 4px;
  margin: 20px;
  text-align : center;
  padding: 40px ;
  a {
    color: #222;
    &:hover {
      text-decoration: none;
    }
    &:active {
      background: #ccc;
    }
  }
  
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

//read
ul {
  li {
  list-style-type: none; 
  margin: 0;
  }
}
.list {
  margin: 0;
  ul {
    overflow: hidden;
    width: 100%;
    li {
      float: left;
      display: inline-block;
      width: 50%;
      box-sizing: border-box;
      padding-bottom: 5px;
      padding: 15px;
      .img {
        border: solid 1px $base-color;
        border-radius: 6px;
      }
      img {
        width: 100%;
      }
      p {
        line-height: 1em;
        width: 95%;
        margin: 5px auto 0 auto;
      }
    }
  }
}
